name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: make
      run: make
    - name: BankManagement
      run:  FILE=bank_management
            if test -f "$FILE"; then
            echo "$FILE exists."
            fi
    - name: make clean
      run: make clean
